%h1 Add member
%p.note Leave the password fields blank to have a random password generated for the user.
.form
  = error_messages_for :member
  - form_for :member, :url => members_path do |f|
    %table
      = render :partial => "form", :locals => {:f => f}
      %tr
        %th &nbsp;
        %td
          = submit_tag 'Sign up'
          or
          = link_to 'Cancel', members_path